

body {
    background-color: #fdfaf6;
    color: #222222;
    font-family: sans-serif;
}

.active {
    font-weight: bold;
}

.breadcrumb {
    width: fit-content;
    background-color: #f3f0eb;
}

.last-bread {
    width: 14rem;
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis; 
}

.breadcrumb-item {
    font-size:calc(11.5px + 0.390625vw);
}

.post-image-preview {
    min-height: 10rem;
    min-width: 12rem;
    height: 10rem;
    width: 40rem;
    max-height: 15rem;
    max-width: 60rem;
    object-fit: cover;
    object-position: center;
}

.post-image {
    min-height: 10rem;
    min-width: 12rem;
    height: 15rem;
    width: 40rem;
    max-height: 15rem;
    max-width: 40rem;
    object-fit:cover;
    object-position: center;
}

img {
    width: 20rem;
    border-radius: 5px;
}

code {
    background-color: #222222;
    font-family: monospace;
    border-radius: 3.5px;
    padding: 0.1rem 0.4rem 0.1rem 0.4rem;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .w-lg-25 {
        min-width: 25%;
        max-width: 25%;
        width: 25%;
    }

    .last-bread {
        width: fit-content;
    }
 }