@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700&display=swap');

:root {
    --color-text: #222222;
    --color-text-50: #6c757d;
    --color-text-nav: #0000008c;
    --color-text-nav-hover: #000000b3;
    --color-background: #fffaf5;
    --color-background-25: #f0ece5;
}

[data-theme='dark'] {
  --color-text: #fffaf5;
  --color-text-50: #6c757d;
  --color-text-nav: #ffffff8c;
  --color-text-nav-hover: #ffffffb3;
  --color-background: #111116;
  --color-background-25: #191919;
}
/* --- */


/* reset */
* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
a {
    text-decoration: none;
    color: #00e764;
}

a:hover {
    text-decoration: none;
    color: rgb(0, 211, 91);
}

.navbar-brand img {
    width: 65px;
}

body {
    color: var(--color-text);
    background-color: var(--color-background);
}

img {
    width: 21rem;
    margin: 1rem auto;
    border-radius: 5px;
    border: 2px solid var(--color-text-50);
}

pre {
    position: relative;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin: 1rem 0;
    background-color: #282936;
    color: #fffced;
    font-family: monospace; 
    border-radius: 5px;
    overflow: auto;
}

code {
    background-color: #282936;
    color:#00f769;
    font-family: monospace;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    border-radius: 3.5px;
    padding: 0.1rem 0.5rem;
}

.hljs {
    color: #f8f8f2;
    background: #282936;
}

blockquote {
    margin-left: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: var(--color-background-25);
    color: var(--color-text);
    border-left: 3px solid var(--color-text-50);
    width: fit-content;
}

em, strong {
    color: #00e764;
}
/* --- */


.post-image-preview {
    min-height: 10rem;
    min-width: 12rem;
    height: 10rem;
    width: 40rem;
    max-height: 15rem;
    max-width: 60rem;
    object-fit: cover;
    object-position: center center;
}

.fancy-font {
    color: #00e764;
}

.tag-list {
    background-color: #282936;
    color: #00f769;
    transition: all 0.3s;
}

.tag-list:hover {
    color: #00e663;
    transform: translateY(-5px);
    transition: all 0.3s;
}

.btn-light-green {
    background-color: #00f769;
    color: #077938;
    transition: all 0.3s;
}

.btn-light-green:hover {
    background-color: #03e665;
    color: #066931;
    transition: all 0.3s;
}

.btn-light-green:focus {
    background-color: #00d15b;
    color: #066931;
    transition: all 0.3s;
}

.badge-article-next,
.badge-article-prev {
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis; 
    box-sizing: border-box;
    background-color: #29c06a;
    color: #fdfaf6;
    background-repeat: repeat;
    background-position: center center;
    text-shadow: 0 1px 3px rgba(2, 56, 26, 0.801);
    height: 29px;
    transition: all 0.3s;
}

.badge-article-next:hover,
.badge-article-prev:hover {
    background-color: #20b35f;
    color: #fdfaf6;
    transition: all 0.3s;
    text-shadow: 0 1px 3px rgba(2, 56, 26, 0.801);
}

.badge-article-next:focus,
.badge-article-prev:focus {
    background-color: #18a354;
    color: #fdfaf6;
    transition: all 0.3s;
    text-shadow: 0 1px 3px rgba(2, 56, 26, 0.801);
}

 .badge-article-next {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='200' height='100' patternUnits='userSpaceOnUse' patternTransform='rotate(270) scale(0.29)'%3E%3Cpath id='a' data-color='fill' fill='%2303E665' stroke='%2303E665' stroke-width='8.75' d='M50 100L0 50V0l50 50 50-50h0v50l-50 50z'%3E%3C/path%3E%3Cuse xlink:href='%23a' x='100' y='-50'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='100' y='50'%3E%3C/use%3E%3Cuse xlink:href='%23a' y='-100'%3E%3C/use%3E%3Cuse xlink:href='%23a' y='100'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='200'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='-100' y='-50'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='-100' y='50'%3E%3C/use%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.badge-article-prev {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='200' height='100' patternUnits='userSpaceOnUse' patternTransform='rotate(90) scale(0.29)'%3E%3Cpath id='a' data-color='fill' fill='%2303E665' stroke='%2303E665' stroke-width='8.75' d='M50 100L0 50V0l50 50 50-50h0v50l-50 50z'%3E%3C/path%3E%3Cuse xlink:href='%23a' x='100' y='-50'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='100' y='50'%3E%3C/use%3E%3Cuse xlink:href='%23a' y='-100'%3E%3C/use%3E%3Cuse xlink:href='%23a' y='100'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='200'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='-100' y='-50'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='-100' y='50'%3E%3C/use%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;   
} 

.user-non {
    opacity: 0.2;
    pointer-events: none;
}

.toggle-dark-light {
    cursor: pointer;
}

.nav-link {
    color: var(--color-text-nav);
}


.nav-link:hover {
    color: var(--color-text-nav-hover)
}


/* Posts inside */
.title {
    color: var(--color-text);
}

.sub-title {
    color: var(--color-text-50);
}

.text-post {
    color: var(--color-text);
}

.post-image {
    min-height: 10rem;
    min-width: 12rem;
    height: 20rem;
    width: 40rem;
    max-height: 21rem;
    max-width: 40rem;
    object-fit:cover;
    object-position: center center;
}

.breadcrumb {
    width: fit-content;
    background-color: #282936;
    box-shadow: 0 1px 5px #2c2c2c23;
}

.last-bread {
    max-width: 14rem;
    white-space: nowrap;  
    overflow: hidden;
    text-overflow: ellipsis; 
}

.breadcrumb-item {
    font-size:calc(11.5px + 0.390625vw);
}



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .w-lg-25 {
        min-width: 25%;
        max-width: 25%;
        width: 25%;
    }

    .w-lg-75 {
        min-width: 75%;
        max-width: 75%;
        width: 75%;
    }

    .last-bread {
        width: fit-content;
    }
 }