---
layout: layouts/base.njk
permalink: /
data: collections
filter:
    - all
    - posts
---

<p class="text-center mx-auto w-lg-50">Welcome to my blog, this is a new project and the ideia is create a consistence and stable blog, with pagination system, gallery and other things.</P>
<p class="text-center mx-auto w-lg-50">I choose 11Ty and Netlify CMS. See the <a type="button" class="btn btn-sm rounded-1 px-3 py-1 fw-bold btn-light-green border-0" href="/posts">Blog</a></p>

{% set postslist = collections.posts %}

{% include "tagslist.njk" %}
