---
layout: layouts/base.njk
permalink: /
---

<p class="text-center mx-auto w-lg-50">Welcome to my blog, this is a new project and the ideia is create a consistence and stable blog, with pagination system, gallery and other things, similar to HugeApk.</P>
<p class="text-center mx-auto w-lg-50">After that change to real HugeApk with 11Ty and Netlify CMS. See the posts: <a class="link" href="/posts">Blog.</a></p>

