---
layout: layouts/base.njk
---

<h1 class="text-center fw-bold mb-5">11ty CMS<small>🚧</small></h1>

<p class="text-center mx-auto w-lg-50">Welcome to my blog, this is a new project and the ideia is create a consistence and stable blog, with pagination system, gallery and other things.</P>
<p class="text-center mx-auto w-lg-50">I choose 11ty, Bootstrap 5 and Netlify CMS.</p>

<div class="d-flex flex-row justify-content-center">
    <a type="button" class="btn btn-sm rounded-1 px-3 py-1 fw-bold btn-light-green border-0 mx-3 mt-4" href="/posts">My Blog</a>
    <a type="button" class="btn btn-sm rounded-1 px-3 py-1 fw-bold btn-light-green border-0 mx-3 mt-4" href="https://www.11ty.dev/docs/" target="_blank">Documentation</a>
</div>


{% set postslist = collections.posts %}

{% include "tagslist.njk" %}
