---
layout: layouts/base.njk
pagination:
  data: collections.posts
  size: 1
  reverse: true
  alias: posts
  filter:
    - all
    - posts
---

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

<h3 class="text-center mt-5">&#11834; Tags &#11834;</h3>
{% include "tagslist.njk" %}
