---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
    http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    {%- for page in collections.all %}
        {%- if not page.data.draft %}
        <url>
            <loc>{{ metadata.url }}{{ page.url | url }}</loc>
            <lastmod>{{ page.date.toISOString() }}</lastmod>
            <changefreq>{{ page.data.changeFreq if page.data.changeFreq else "monthly" }}</changefreq>
        </url>
        {%- endif -%}
    {% endfor %}
</urlset>