---
layout: layouts/base.njk
pagination:
  data: collections.doublePagination
  size: 1
  alias: tag
permalink: /tags/{{ tag.tagName }}/{% if tag.pageNumber %}{{ tag.pageNumber + 1 }}/{% endif %}
---

<h3>Tagged: "{{ tag.tagName }}"</h3>

<section class="row d-flex justify-content-center px-4">
        {% for post in tag.pageData %}
            <div class="w-100 col-12 col-md-6 col-lg-4 w-lg-25 mx-lg-3 pb-4 mb-3 border-0 rounded-2 d-flex flex-column">
                <a href="{{ post.url | url }}">
                    <img class="img-fluid rounded-3 border-0 w-100 post-image-preview" src="{{ post.data.thumbnail | url }}" alt="{{ post.data.title }}"></img>
                </a>
                <h5 class="title-post mt-1 mb-0 fw-bold">{{ post.data.title }}</h5> 
                <small class="text-secondary mb-3 small">{{ post.data.description }}</small>
            </div>
        {% endfor %}
</section>

{% set pageNumberNext = tag.pageNumber + 2 %}
{% set formatNext = '/tags/'+tag.tagName+'/'+ pageNumberNext+'/' %}

{% set pageNumberPrevious = tag.pageNumber %}
{% set formatPrevious = '/tags/'+tag.tagName+'/'+ pageNumberPrevious+'/' %}
{% set formatPreviousHome = '/tags/'+tag.tagName+'/' %}

{% if pagination.pageLinks.length > 1 %}
<nav>
  <ul class="pagination justify-content-center">
    <li class=" mx-3">
  {% if pagination.previousPageLink and pagination.previousPageHref == formatPreviousHome or pagination.previousPageHref == formatPrevious %}
      <a class="border-0 rounded-1 btn-light-green fw-bold shadow-none px-3 py-1 page-link" href="{{ pagination.previousPageHref | url }}" aria-label="Previous">Prev</a>
  {% else %}
      <a class="user-non border-0 rounded-1 btn-light-green fw-bold shadow-none px-3 py-1 page-link" href="" aria-label="Previous">Prev</a>
  {% endif %}
    </li>

{# Page: {{ pagination.pageNumber + 1 }} of {{ pagination.links | length  }} #}
    
    <li class=" mx-3">
  {% if pagination.nextPageLink and pagination.nextPageHref == formatNext %}
      <a class="border-0 rounded-1 btn-light-green fw-bold shadow-none px-3 py-1 page-link" href="{{ pagination.nextPageHref | url }}" aria-label="Previous">Next</a>
  {% else %}
      <a class="user-non border-0 rounded-1 btn-light-green fw-bold shadow-none px-3 py-1 page-link" href="" aria-label="Previous">Next</a>
  {% endif %}
    </li>
  </ul>
</nav>
{% endif %}


{% include "tagslist.njk" %}
