---
layout: layouts/base.njk
pagination:
    data: collections
    size: 1
    alias: tag
    addAllPagesToCollections: true
    filter:
        - posts
        - all
permalink: /tags/{{ tag | slugify }}/
eleventyExcludeFromCollections: true
---
<ul>
{% for post in collections[tag] %}
    <li>
        <a href="{{ post.url }}">
            <h2>{{ post.data.title }}</h2>
        </a>
    </li>
{% endfor %}
</ul>