---
layout: layouts/base.njk
pagination:
  data: collections
  size: 1
  reverse: true
  alias: tag
  filter:
    - all
    - posts
---

<h1>Tagged “{{ tag }}”</h1>
{% set postslist = collections[ tag ] %}
This never change in page.
 
{% include "postslist.njk" %}

<h3 class="text-center mt-5">&#11834; Tags &#11834;</h3>
{% include "tagslist.njk" %}
