<h3 class="text-center mt-5">&#11834; Tags &#11834;</h3>
<section class="d-flex flex-row flex-wrap mx-0 mb-4 justify-content-center">
  
  {%- for tag, posts in collections | dictsort -%}
    {%- if tag != "all" and tag != "posts" and tag != "doublePagination"%}
      <a class="tag-list mx-2 my-1 px-3 py-1 rounded-5 text-decoration-none fw-bold" href="/tags/{{ tag }}/">{{ tag }}</a>
    {%- endif -%}
  {%- endfor %}

</section>
